.heading {
  color: white;
  font-weight: 500;
}

.heading1 {
  composes: heading;
  font-size: 20px;
}

.heading2 {
  composes: heading;
  font-size: 18px;
}

.heading3 {
  composes: heading;
  font-size: 16px;
}
