.faction {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 32px 0;
  margin: 0 32px;
}

.faction:last-child {
  border-bottom: none;
}

.factionName {
  font-size: 18px;
  line-height: 24px;
}

.factionDescription {
  margin: 8px 0 16px 0;
}
